@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	font-family: 'JetBrains Mono', monospace;
	background-image: url('/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
